{
  "extends": "miszo",
  "plugins": ["smells"],
  "rules": {
    "smells/no-switch": "off",
    "smells/no-complex-switch-case": "error",
    "smells/no-setinterval": "off",
    "smells/no-this-assign": "error"
  }
}
